.page{
    height:100%;
}
.right-sidebar{
    position:fixed;
    right:0;
    background-color:whitesmoke;
    border: 5px black dotted;
    text-align:center;
    width:200px;
    min-height:500px;
    height:100vh;
    padding-top:200px;
    margin-bottom: 10px;
}
nav li{
    display:inline;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;

}

nav a{
    display:inline-block;
    padding: 5px;
}

.left-content{
    background: #DDC2F7;
    margin-right: 200px;
    min-height:477px;
    overflow:scroll;
}

table{
    border:3px solid black;
}
table th {
    text-align:center;
    font-family:sans-serif;
}

table td {
    font-family: 'Montserrat', sans-serif;
    border:1px solid gray;
}

h3{
    text-align: center;
}

ul{
    border: 3px solid black;
}
